<script>
import Button from "Comp/Button.svelte";
import Progress from "Comp/Progress.svelte";
import {preprocess_text} from 'Libraries/preprocess_text/index';
import {head} from 'System/initiate';
//import {negative, positive} from 'System/sounds';

const {correct} = $head.round.questions[  $head.round.question ];


if( $head.round.was_correct){
	//positive.play();
}else{
	//negative.play();
}


function done(){
	head.next();
}

</script>

<Progress/>

<div id = "answer">
	<div id = "text">
		{#if $head.round.was_correct}
			Right answer!
		{:else}
			Wrong! <br><br>
			<span id = "correct"> {@html correct} </span>was the right answer.
		{/if}
	</div>

	<Button 
		key = 1
		style = "big"
		fce = {()=> done()}
	>
		Next 
	</Button>
</div>

<style>
#text {
	padding: 0ch 1ch 2ch 1ch;
}

#answer {
	padding: 2ch
}

#correct {
	font-style: italic;
}
</style>