<script>
import Button from "Comp/Button.svelte";
import {head} from 'System/initiate';
import {ra} from 'Random';

const {game, mode} = $head;
const sucrate = Math.round( (game.right / game.total) * 100  ) ;


const rating = ra.array((()=>{
	if(sucrate >= 95 && game.total > 3){ //LEGENDARY 
		return [
			"legendary",
			"epic",
			"flawless",
		];
	}else if(sucrate >= 90){ //AWESOME
		return [
			"awesome",
			"excellent",
			"brilliant",
			"magnificent",
			"superb",
			"outstanding",
			"exceptional",
		];
	}else if(sucrate >= 75){ //GREAT
		return [
			"great",
			"neat",
			"solid",
			"admirable",
			"good",
		];
	}else if(sucrate >= 60){ //GOOD
		return [
			"fine",
			"okay",
			"satisfactory",
			"fair",
		];
	}else if(sucrate >= 50){ //MEH
		return [
			"mediocre",
			"middling",
			"so-so",
			"passable",
			"unremarkable",
		];
	}else if(sucrate > 30){ //BAD
		return [
			"bad",
			"inadequate",
			"insufficient",
			"incompetent",
			"poor",
			"weak",
		];
	}else if(sucrate > 10){ //TERRIBLE
		return [
			"terrible",
			"horrible",
			"awful",
			"lousy",
			"shameful",
			"appalling",
		];
	}else{ //PATHETIC
		return [
			"pathetic",
			"embarrassing",
			"worthless",
		];
	}
})());

/*

	options={{ 
		responsive: true,
		maintainAspectRatio: false,
	}}
	
	*/
	
	
/* CHART */
import { Doughnut } from 'svelte-chartjs';
ChartJS.register(Title, Tooltip, ArcElement, CategoryScale);

import {
	Chart as ChartJS,
	Title,
	Tooltip,
	ArcElement,
	CategoryScale,
} from 'chart.js';

const data = {
  labels: ["Right", "Wrong"],
  datasets: [
    {
      data: [game.right, game.wrong],
      backgroundColor: [
		"hsla(80, 100%, 45%, 1)",
		"hsla(15, 100%, 45%, 1)",
	  ],
      hoverBackgroundColor: [
        "hsla(90, 100%, 60%, 1)",
        "hsla(5, 100%, 60%, 1)",
      ],
    },
  ],
};


  
</script>

<div id = "two_columns">
	<div id = "graph">
		<Doughnut {data}/>
	</div>
	
	<div id = "panel">
		<div class = "item">
			{#if mode.gameplay === "survival"}
				Total: {game.total}
			{:else if mode.gameplay === "standard"}
				Total: {mode.rounds} x {mode.questions} = {game.total}
			{/if}
		</div>
		<div class = "item">
			Right: {game.right} {game.right === 1 ? "question" : "questions"} 
		</div>
		<div class = "item">
			Wrong: {game.wrong} {game.wrong === 1 ? "question" : "questions"} 
		</div>
		<div id = "sucrate">
			&nbsp {sucrate} %
		</div>	
		<div id = "rating">
			{rating.toUpperCase()}
		</div>	
	</div>
	
	
	
</div>

<!--
	<Button 
		key = 1
		style = "menu"
		fce = {()=> head.new_game()}
	>
		Next Game
	</Button>
-->

<Button 
	key = 1
	style = "menu"
	fce = {()=> head.display("start")}
>
	New Game
</Button>


<Button 
	key = 2
	style = "menu"
	fce = {()=> head.new_game($head.game.seed)}
>
	Replay (same questions)
</Button>
<Button 
	key = 3
	style = "menu"
	fce = {()=> head.display("menu")}
>
	Menu
</Button>


<style>
#two_columns{
	display: flex;
	flex-direction: row;
	margin-bottom: 2ch;
/*	justify-content: space-between;*/
}

#graph{
	padding: 3ch;
	width: 200px;
	height: 200px;
}

.item{
	padding: 0.5ch;
	font-weight: bold;
	text-align: center;
}


#panel{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1ch;
	margin: auto;
}

#sucrate{
	color: var(--highlight); 
	font-weight: bold;
	text-align: center;
	font-size: 250%;
	padding:  1ch 0;
}

#rating{
	font-weight: bold;
	font-family: fancy;
	text-align: center;
	font-size: 160%;
}


@media only screen and (max-width: 500px) {
	#two_columns{
		flex-direction: column;
	}
	#graph{
		padding: 3ch;
		width: 150px;
		height: 150px;
		margin: auto;
	}
}


@media only screen and (max-width: 600px) {
	#graph{
		padding: 3ch;
		width: 150px;
		height: 150px;
	}
}

</style>
