<script>
import Button from "Comp/Button.svelte";
import Title from "Comp/Title.svelte";
import Switcher from "Comp/Switcher.svelte";
import Radio from "Comp/Radio.svelte";
import {head} from 'System/initiate';
import {constants} from 'System/variables';

function start(){
	head.mode({
		gameplay,
		offered,
		rounds,
		questions,
		survival_wrong,
		survival_style,
	});
	head.new_game();
}

let {
	gameplay,
	offered,
	rounds,
	questions,
	survival_wrong,
	survival_style,
} = $head.mode;

</script>

<!-- standard game -->
	<article>
		<label>
			<Title>
				<Radio 
					bind:group = {gameplay}
					name = "gameplay"
					value = {"standard"}
				/>
				Standard Game 
			</Title>
		</label>
		
		<Switcher 
			value = {rounds}
			content = {{
				min: constants.rounds.min,
				max: constants.rounds.max,
			}}
			fce = {value => rounds = value}
		/> 

		rounds each with 

		<Switcher 
				value = {questions}
				content = {{
					min:  constants.questions.min,
					max: constants.questions.max,
				}}
				fce = {value => questions = value}
		/> questions.
	</article>

<!-- survival -->
	<article>
		<label>
			<Title>
				<Radio 
					bind:group = {gameplay}
					name = "gameplay"
					value = {"survival"}
				/>
				Survival 
			</Title>
		</label>
		
		Rounds with 

		<Switcher 
			value = {questions}
			content = {{
				min:  constants.questions.min,
				max: constants.questions.max,
			}}
			fce = {value => questions = value}
		/> 

		questions continue until you fail, <br>
		you can make 
		
		<Switcher 
			value = {survival_wrong}
			content = {{
				min: constants.survival_wrong.min,
				max: constants.survival_wrong.max,
			}}
			fce = {value => survival_wrong = value}
		/> 

		{$head.mode.survival_wrong === 1 ? "mistake" : "mistakes"} 

		<Switcher 
			value = {survival_style}
			content = {[
				{
					value: "game",
					text: "in total. ", 
				},
				{
					value: "round",
					text: "every round. ", 
				},				
			]}
			fce = {value => survival_style = value}
		/>
</article>
   
   

<article id = "radios">
	<label>
		<Radio 
			bind:group = {offered}
			name = "offered"
			value = {"cats"}
		/>
		categories
	</label>
	<label>
		<Radio 
			bind:group = {offered}
			name = "offered"
			value = {"tags"}
		/>
		tags
	</label>
	<label>
		<Radio 
			bind:group = {offered}
			name = "offered"
			value = {"mix"}
		/>
		random mix
	</label>
</article>



<Button 
	key = 1
	style = "menu"
	fce = {()=> start()}
>
	Start
</Button>
<Button 
	key = 2
	style = "menu"
	fce = {()=> head.display("menu")}
>
	Back
</Button>


<style>
article{
	margin: 2ch 0;
}

#radios {
	display: flex; 
	flex-direction: column;
	gap: 0.5ch;
}

label{
	cursor: pointer;
}
</style>
