<script>
/*
	https://www.npmjs.com/package/jvectormap-next?activeTab=readme
	https://stackoverflow.com/questions/16631064/declare-multiple-module-exports-in-node-js
	finally uses this https://github.com/epiontech/jvectormap-next-module
*/
import { create } from 'System/map';

import { onMount, afterUpdate } from 'svelte';


import jQuery from 'jquery';
import * as jvm from 'Libraries/jvm/fork';  //Bring from git repo or whatever
import 'Libraries/jvm/style.css';


import {map as af} from 'Libraries/jvm/maps/africa-mill';  
import {map as as} from 'Libraries/jvm/maps/asia-merc';  
import {map as au} from 'Libraries/jvm/maps/au-mill';  
import {map as at} from 'Libraries/jvm/maps/at-merc';  

import {map as ca} from 'Libraries/jvm/maps/ca-lcc';  
import {map as de} from 'Libraries/jvm/maps/de-mill';  
import {map as fr} from 'Libraries/jvm/maps/fr_regions_2016-mill';  
import {map as it} from 'Libraries/jvm/maps/it_regions-merc';  
import {map as pl} from 'Libraries/jvm/maps/pl-mill';  
import {map as uk} from 'Libraries/jvm/maps/uk_countries-mill';  

import {map as eu} from 'Libraries/jvm/maps/europe-mill';  

import {map as us} from 'Libraries/jvm/maps/us-aea';  
import {map as na} from 'Libraries/jvm/maps/north_america-mill';  
import {map as sa} from 'Libraries/jvm/maps/south_america-mill';  

import {map as oc} from 'Libraries/jvm/maps/oceania-mill';  

import {map as w} from 'Libraries/jvm/maps/world-mill';  


try {
 
	jQuery.fn.vectorMap('addMap', 'af', af);
	jQuery.fn.vectorMap('addMap', 'as', as);
	jQuery.fn.vectorMap('addMap', 'au', au);
	jQuery.fn.vectorMap('addMap', 'at', at);

	jQuery.fn.vectorMap('addMap', 'ca', ca);
	jQuery.fn.vectorMap('addMap', 'de', de);
	jQuery.fn.vectorMap('addMap', 'fr', fr);
	jQuery.fn.vectorMap('addMap', 'it', it);
	jQuery.fn.vectorMap('addMap', 'pl', pl);
	jQuery.fn.vectorMap('addMap', 'uk', uk);

	jQuery.fn.vectorMap('addMap', 'eu', eu);

	jQuery.fn.vectorMap('addMap', 'us', us);
	jQuery.fn.vectorMap('addMap', 'na', na);
	jQuery.fn.vectorMap('addMap', 'sa', sa);

	jQuery.fn.vectorMap('addMap', 'oc', oc);

	jQuery.fn.vectorMap('addMap', 'w', w);

}
catch(err) {
	/* eslint-disable no-console */
		console.log("jvm loading");
		console.log(err);
	/* eslint-enable no-console */
}

export let src;

const id =  `_${Math.floor(Date.now() * Math.random())}`; //should make every id unique


afterUpdate(() => {

	try {
 		jQuery(`#${id}`).empty();
		const map = create(src);
		jQuery(function(){
			jQuery(`#${id}`).vectorMap(map)
		});
	} catch(err) {
		console.log("jvm updating");
	}


	
});


</script>


<div id= {id} class = "map"/>



<style>
.map{
	padding-top: 2ch;
	position: relative;
	width: 400px;
	height: 400px;
	
}
</style>