<script>
export let source = undefined;

import Button from "Comp/Button.svelte";
import {preprocess_text} from 'Libraries/preprocess_text/index';

import changelog from 'Root/changelog.md?raw'



const files = {
	changelog,
}


let text  = files[source];
if(!text) text = "empty :(";

text = preprocess_text(text, {
	trim: true,
	markdown: {
		block: true,
		numbers: false, 
	},
})


</script>


<div>
	{@html text}
</div>



<style>
div{
	padding-bottom: 2ch;
}
</style>