<script>
import Button from "Comp/Button.svelte";
import {head} from 'System/initiate';
import {debug} from 'System/variables';

const items = [];
 
if($head.game_display){
	items.push({
		text: "Continue",
		display: $head.game_display,
	})
	
	items.push({
		text: "New game",
		display: "start",
	})

}else{
	items.push({
		text: "Play",
		display: "start",
	})
}


items.push({
	text: "Setting",
	display: "setting",
})

items.push({
	text: "Changelog",
	display: "changelog",
})

if(debug){
	items.push({
		text: "###Questions Viewer###",
		display: "viewer",
	})
}

</script>


<div id = "column">
	{#each items as { text, display }, i}
		<Button 
			key = {i + 1}
			style = "menu"
			fce = {()=> head.display(display)}
		>
			{text}
		</Button>
	{/each}
</div>


<style>
/* it is so stupid to use translating for simple centering but it works so whatever */
#column{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
</style>
