<script>
import Menu from "./Menu.svelte";
import Setting from "./Setting.svelte";
import Setting_tags from "./Setting_tags.svelte";
import Gamestart from "./Gamestart.svelte";
import Roundstart from "./Roundstart.svelte";
import Question from "./Question.svelte";
import Answer from "./Answer.svelte";
import Gameend from "./Gameend.svelte";
import Markdown from "./Markdown.svelte";
import Viewer from "./viewer/Viewer.svelte";
import Map from "./Map.svelte";
import Bottom from "Comp/Bottom.svelte";
import Button from "Comp/Button.svelte";

import {head, setting, keyboard} from 'System/initiate';

import 'Style/fonts.css';
import 'Style/main.css';

$: display = $head.display;


	
</script>

<div
	id = "container"
>
			
	<div
		id = "main"
		class = {$head.game.danger_zone ? "danger_zone" : ""}
	>
		{#if display === "menu"}
			<Menu/>

		{:else if display === "question"}
			<Question/>
		{:else if display === "answer"}
			<Answer/>
		{:else if display === "start"}
			<Gamestart/>
		{:else if display === "roundstart"}
			<Roundstart/>
		{:else if display === "end"}
			<Gameend/>
		{:else if display === "setting"}
			<Setting/>
		{:else if display === "setting_tags"}
			<Setting_tags/>
		{:else if display === "changelog"}
			<Markdown source = "changelog"/>	
			<Button 
				key = 1
				style = "menu"
				fce = {()=> head.display("menu")}
			>
				Back
			</Button>
		{:else if display === "viewer"}
			<Viewer/>
			
		{:else}
			<Menu/>
		{/if}

	</div>
	
	{#if display === "menu"}
		<Bottom/>
	{/if}
</div>




<style>

.danger_zone{
	-webkit-box-shadow: 6px 6px 31px 11px rgba(207,43,2,1) !important;
	-moz-box-shadow: 6px 6px 31px 11px rgba(207,43,2,1) !important;
	box-shadow: 6px 6px 31px 11px rgba(207,43,2,1) !important;
}

#container {
	/* background-image: linear-gradient(to right bottom, #ffd166, #f2c051, #e5b03c, #d99f25, #cc8f00); */
	background-color: var(--background_2); 
	
	position: absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    min-height: 100%;
	height: fit-content;
	
	display: flex;
	
	font-family: regular;
	font-size: 100%;
}

#main {
	color: var(--text); 
	background-color: var(--background); 
	
	margin: auto;
/*
	display: flex;
    flex-direction: column;
*/
    /*height: 90%;*/
    justify-content: center;
    min-width: 50ch;
	/*width: 50ch;*/
  /*  padding: 5ch 10ch; */
	 padding: 8vh 12vh;
	border-radius: 1ch;
	
/*	position: relative;*/
   /* min-height: 80vh; */
/*	min-height: calc(200vh - 10%);*/
	/*calc(75vh - 12%);*/
	min-height: 60vh;
	
	-webkit-box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.5);
}
	
@media only screen and (max-width: 700px) {
	#main{
		width: 50ch;
		min-width: initial;
	}
}








/*
		setting break 600px
		gameend break 500px
		
		question 700 atm
	
*/
</style>


