<script>
import Button from "Comp/Button.svelte";
import Progress from "Comp/Progress.svelte";
import Loading from "Comp/Loading.svelte";
import Map from "./Map.svelte";

import {head} from 'System/initiate';

const {text, map, choices, category, category_name, question, level} = $head.round.questions[  $head.round.question ];

function done(index){
	head.answer(index);
}

</script>



{#if $head.mode.offered === "cats"}
	<Progress/>
{:else}
	<Progress>{category_name}</Progress>
{/if}


{#await $head.round.promised[  $head.round.question ] }
	<div id = "loading">
		<Loading/>
	</div>
{:then {img} }
	
<div id = "both">
	{#if map || img}
		<div id = "left">
			{#if img}
				<img
					id = "image"
					src = {img}
				/>
			{/if}
			{#if map}
				<Map src = {map}/>	
			{/if}
		</div>
	{/if}
	
	<div id = "right">
		<div id = "text">
			{@html text}
		</div>
	
		{#each choices as a, i}
			<Button 
				key = {i+1}
				style = "big"
				fce = {()=> done(i)}
			>
				{@html a}
			</Button>
		{/each}
	</div>
</div>
	

{:catch error}
	<div id = "right">
		<div id = "text">
			ERROR: It was impossible to load the question
			<br>(category: {category}; level: {level}; question: {question})
		</div>
	
		<Button 
			key = {1}
			style = "big"
			fce = {()=> done(null)}
		>
			Next question
		</Button>
	</div>

{/await}

	
<style>
#text {
	 
	padding: 0ch 1ch 2ch 1ch;
	
}

#both {
	display: flex;
	flex-direction: row;
}

#left {
	padding-right: 1ch;
}

#right {
	padding: 2ch;
	display: flex;
	flex-direction: column;
	/*min-width: 40ch;*/
	max-width: 50ch;
}

#image {
	padding-top: 2ch;
}

#loading {
	text-align: center;
	padding-top: 3ch;
}


@media only screen and (max-width: 700px) {
	#both{
		flex-direction: column;
	}
	
	#left {
		text-align: center;
	}
}


</style>