<script>
import Button from "Comp/Button.svelte";
import Title from "Comp/Title.svelte";
import Switcher from "Comp/Switcher.svelte";
import Radio from "Comp/Radio.svelte";
import {head} from 'System/initiate';




function done(category_index, selection_index, extra){
	head.load_questions(category_index, selection_index, extra);
}

const {offered, gameplay} = $head.mode;
const {categories, selected} = $head.game;

const mix = categories.map( a => a.index );

let free_key = 1;

const selection = categories.map( (a,i) => {
	if( (offered === "cats" || offered === "tags") && gameplay === "standard" && selected.includes(i) ){
		return {
			key: undefined,
			name: a.name,
			disabled: true,
		}
	}else{
		return {
			key: free_key++,
			name: a.name,
			index: a.index,
			extra: a.extra,
			disabled: false,
		}
	}
});



//TODO - TO ROMAN

</script>

{#if offered === "mix"}
	<div id = "center">
		<Button 
			key = 1
			style = "menu"
			fce = {()=> done(mix)}
		>
			Round {$head.game.round + 1}
		</Button>
	</div>
{:else if gameplay === "survival"}
	<div id = "center">
		{#each selection as a, i}
			<Button 
				key = {a.key}
				style = "menu"
				disabled = {a.disabled}
				fce = {()=> done(a.index, i, a.extra)}
			>
				{a.name}
			</Button>
		{/each}
	</div>
{:else}
	<div id = "column">
		{#each selection as a, i}
			<Button 
				key = {a.key}
				style = "menu"
				disabled = {a.disabled}
				fce = {()=> done(a.index, i, a.extra)}
			>
				{a.name}
			</Button>
		{/each}
	</div>
{/if}


<style>
#center{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
</style>