<script>
import Button from "Comp/Button.svelte";
import Title from "Comp/Title.svelte";
import Switcher from "Comp/Switcher.svelte";
import Check from "Comp/Check.svelte";
import Radio from "Comp/Radio.svelte";

import {head, setting} from 'System/initiate';
import {toHEX, toHSLA} from 'Libraries/color/index';


import { onDestroy } from 'svelte';
onDestroy(() =>{
	setting.change("units", units);
	setting.save();
 });
	

const colors = [
	{name: "Highlight", key: "highlight"},
	{name: "Text", key: "text"},
	{name: "Background", key: "background"},
	{name: "Page Background", key: "background_2"},
]

let units = $setting.units;
</script>

<div id = "two_columns"> 
	<div class = "column">
			<Title>Difficulty</Title>

			<Switcher 
					value = {$setting.difficulty}
					content = {[
						{
							value: -3,
							text: "easiest", 
						},
						{
							value: -2,
							text: "easier", 
						},
						{
							value: -1,
							text: "easy", 
						},
						{
							value: 0,
							text: "normal", 
						},
						{
							value: 1,
							text: "hard", 
						},
						{
							value: 2,
							text: "harder", 
						},				
						{
							value: 3,
							text: "hardest", 
						},			
					]}
					fce = {value => setting.change("difficulty", value)}
			/>
				

			<Title>Colours</Title>
			
			<div class = "section">
				{#each colors as item}
					<label>
						<input 
							type = color
							value = {toHEX($setting[item.key])}
							on:input = {(e) => setting.change(item.key, e.target.value)}
						/>
						{item.name}
					</label>
				{/each}
					
				<Button 
					style = "small"
					fce = {()=>setting.reset_colors()}
				>
					Default Colours
				</Button>
			</div>
			
	</div>
	<div class = "column">
		<Title>Units</Title>
			<div class = "section">
				<label>
					<Radio 
						bind:group = {units}
						name = "units"
						value = {"si"}
					/>
					SI units (metres)
				</label>
				<label>
					<Radio 
						bind:group = {units}
						name = "units"
						value = {"us"}
					/>
					US customary (feet)
				</label>
			</div>
		<Title>Sundry</Title>
			<div class = "section">
				<label>
					<Check
						value = {$setting.enable_online}
						fce = {value => setting.change("enable_online", value)}
					/>
					enable online content <br> <small> (pictures loaded mostly <br> from Wikimedia Commons) </small>
				</label>
				<label>
					<Check
						value = {$setting.enable_maps}
						fce = {value => setting.change("enable_maps", value)}
					/>
					enable map-based questions
				</label>
			</div>
	</div>
</div>
	


<Button 
	key = 1
	style = "menu"
	fce = {()=> head.display("menu")}
>
	Back
</Button>
<Button 
	key = 2
	style = "menu"
	fce = {()=> head.display("setting_tags")}
>
	Tags
</Button>


<style>
#two_columns{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.column{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.section{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: auto;
    margin-right: auto;
}

label{
	cursor: pointer;
	padding: 0.5ch 0;
}


@media only screen and (max-width: 600px) {
  #two_columns{
		flex-direction: column;
	}
}

</style>
