<script>
import { onMount } from "svelte";
import Button from "Comp/Button.svelte";
import Range from "Comp/Range.svelte";
import {head, setting, tags_weight} from 'System/initiate';
import {constants} from 'System/variables';
import {cap} from 'Libraries/dh/index';
import tags from 'Data/tags.json';

$: weight = {};

onMount(() => {
	weight = tags_weight.load();
});


function reset(){
	Object.keys(weight).forEach( key => weight[key] = constants.tag_weight );
}

function disable(){
	Object.keys(weight).forEach( key => weight[key] = 0 );
}

function back(){
	head.display("setting");
}

function save(){
	if(  Object.keys(weight).reduce( (sum,key) => sum + weight[key], 0) === 0){
		window.alert("No tags are enabled! ");
	}else{
		tags_weight.save(weight);
		back();
	}
}


</script>

<table>
<tr>
	<td></td>
	<td style = "width: 90px; text-align: left">0 %</td>
	<td style = "width: 60px; text-align: center">100 %</td>
	<td style = "width: 30px"></td>
	<td style = "width: 60px; text-align: center">200 %</td>
	<td style = "width: 90px; text-align: right">300 %</td>
</tr>


{#each Object.keys(weight) as key,i}
	<tr>
		<td>
			<label for={key}>
				{cap(tags[key].name || key)}
			</label>
		</td>
	
		<td colspan="5">
			<Range bind:value={weight[key]} min = {0} max = {30} id = {key}/>
		</td>
	</tr>
{/each}

</table>


<Button 
	style = "small"
	fce = {disable}
>
	All Disabled
</Button>

<Button 
	style = "small"
	fce = {reset}
>
	All Default
</Button>


<Button 
	key = 1
	style = "menu"
	fce = {back}
>
	Cancel
</Button>

<Button 
	key = 2
	style = "menu"
	fce = {save}
>
	Save
</Button>


