<script>
import {version, debug} from 'System/variables';
import Gitlab from "Icons/TeenyiconsGitlabSolid.svelte";
import Patreon from "Icons/TeenyiconsPatreonSolid.svelte";
import Discord from "Icons/SimpleIconsDiscord.svelte";
import Itch from "Icons/FluentXboxController20Filled.svelte";
import Button from "Comp/Button.svelte";
</script>

 

<div id = "bottom">
	<div id = "left">
		{#if debug}
			Dev Version {version}
		{:else}
			Version {version}
		{/if}
	</div>

	<div>

		<Button
			style = "small"
			alt = "Discord"
			fce = {()=>{
				window.open("https://discord.gg/mwtVmAs");
			}}
		>
			<Discord/>
		</Button>

		<Button
			style = "small"
			alt = "itch.io"
			fce = {()=>{
				window.open("https://dahakma.itch.io/trivia");
			}}
		>
			<Itch/>
		</Button>

		<Button
			style = "small"
			alt = "GitlLab"
			fce = {()=>{
				window.open("https://gitlab.com/Dahakma/wtrivia");
			}}
		>
			<Gitlab/>
		</Button>

		<Button
			style = "small"
			alt = "Patreon"
			fce = {()=>{
				window.open("https://www.patreon.com/Dahakma");
			}}
		>
			<Patreon/>
		</Button>

	</div>

</div>



<style>
#left{
	font-size: 80%;
	padding: 1ch;
}

#bottom{
	display: flex;
    justify-content: space-between;
	margin: 0ch 5ch 2ch;
	position: absolute;
	bottom: 0;
	width: calc(100% - 10ch);
/*
	background: lime;
*/
}

/* TODO! */
@media only screen and (max-width: 800px) {
	#bottom{
		display: none;
	}
}

</style>











