<script>
import {afterUpdate} from 'svelte';
import {setting } from 'System/initiate';
import {keyboard} from 'System/initiate';

export let key = undefined;
export let text = "empty";
export let fce = ()=>{};
export let style = "small";
export let disabled = false;
export let alt = "";

if(disabled) fce = ()=>{};
const prefix = key ? key+". " : "";

afterUpdate(() => {
	if(key) keyboard.add(key, fce);
});


/*
//TODO - it is fucking stupid to do it this way 
let divy;
function enter(){

	divy.style.color = $setting.background;
	divy.style.background = $setting.highlight;

}
function leave(){
	divy.style.color = $setting.highlight;
	divy.style.background =  $setting.background;
}

	bind:this = {divy}
	on:mouseenter={enter}
	on:mouseleave={leave}
*/
</script>


<button 
	class = {style}
	on:click={fce} 
	title = {alt}
>
	{prefix}
	{#if disabled}
		<strike><slot></slot></strike>
	{:else}
		<slot></slot>
	{/if}
</button>


<style>

button:hover {
	color: var(--background); 
	background: var(--highlight); 
}


.small{
	border: none;
	background: none;
	
	color: var(--highlight); 
	font-family: regular;
	font-size: 100%;
	font-weight: bold;
	
	padding: 1ch 1ch;
	text-align: left;
	border-radius: 1ch;
	
	cursor: pointer;
	
	display: inline-block; 
}

.big{
	border: none;
	background: none;
	
	color: var(--highlight); 
	font-family: regular;
	font-size: 140%;
	font-weight: bold;
	
	padding: 0.5ch 1ch;
	text-align: left;
	border-radius: 1ch;
	
	cursor: pointer;
	
	width: 100%;
}

.menu{
	border: none;
	background: none;
	
	color: var(--highlight); 
	font-family: fancy;
	font-size: 160%;
	font-weight: bold;
	
	padding: 1ch 1ch;
	text-align: center;
	border-radius: 1ch;
	
	cursor: pointer;
	
	display: block;
    margin: auto;
}

</style>