<script>
export let value = false;
export let fce = ()=>{};

$: checked = value ? "checked" : "";

</script>
 <input 
	type="checkbox" 
	{checked}
	on:click={()=>{
		value = !value;
		fce(value);
	}} 
>


<style>
input{
	accent-color: var(--highlight); 
}
</style>











