<script>
import {head, setting} from 'System/initiate';
import Button from "Comp/Button.svelte";
import Close from "Icons/MdiBackspaceOutline.svelte";

$: game = $head.game;
$: mode = $head.mode;
$: round = $head.round;

</script>


<div id = "progress">
	<div id = "back">
		<Button
			style = "small"
			fce = {()=>{
				head.display("menu");
			}}
		>
		<span id = "close"><Close/></span>
		</Button>
		<slot></slot>
	</div>
	

	<div id = "round">
		{#if mode.gameplay === "standard"}
			R: <span class = "strong">{game.round + 1}</span>/<span class = "weak">{mode.rounds}</span>
			&nbsp;
			Q: <span class = "strong">{round.question + 1}</span>/<span class = "weak">{mode.questions}</span>
		{:else if mode.gameplay === "survival"}
			R: <span class = "strong">{game.round + 1}</span>
			&nbsp;
			Q: <span class = "strong">{round.question + 1}</span>/<span class = "weak">{mode.questions}</span>
			&nbsp;
			{#if mode.survival_style === "game"}
				L: <span class = "strong">{mode.survival_wrong - game.wrong}</span>
			{:else if mode.survival_style === "round"}
				L: <span class = "strong">{mode.survival_wrong - round.wrong}</span>
			{/if}
		{/if}
	</div>
</div>




<style>
#back{
	/*font-size: 1rem;*/
	font-family: fancy;
}



#round{
/*	padding: 1ch; */ /* same as the button */
}

#progress{
	display: flex;
	justify-content: space-between;
	text-weight: normal;
/*	text-align: right; */
	font-size: 80%;
/*	margin-bottom: 2ch; */
}

.strong{
	text-weight: bold;
}
.weak{
	font-size: 70%;
}
</style>











