<script>
export let name;
export let group;
export let value;

//export let fce = ()=>{};
//on:input = {fce}
</script>

<input
	type = radio 
	bind:group = {group}
	{value}
	{name} 
>


<style>
input{
	accent-color: var(--highlight); 
}
</style>











