<script>

export let value = 0;
export let min = 0;
export let max = 10;
export let id = "";

</script>


<input 
	type = "range" 
	{id}
	name = {id}
	{min}
	{max}
	bind:value={value}
>


<style>
input{
	width: 100%;
	accent-color: var(--highlight); 
}
</style>



<!---
	bind:value={value}
	
	on:change={()=>{
		value = !value;
		fce(value);
	}} 
	-->

