<script>
import {setting, head} from 'System/initiate';

export let value = 0;
export let content = [];
export let fce = ()=>{};


if(content.max !== undefined && content.min !== undefined){
	function create_array(max, min = 0){
		return Array(max + 1 - min).fill().map( (a,i) => i + min )
	}
	content = create_array(content.max,  content.min);
}

const selection = typeof content[0] === "object";

let index = (()=>{
	let temp; 
	if(selection){
		temp = content.findIndex(a => a.value === value);
	}else{
		temp = content.indexOf(value);
	}

	return temp !== -1 ? temp : 0;
})();
$: actual = value;


const execute = function(input){
	if(input === true){
		index++;
		if(index === content.length) index = 0;
		actual = selection ? content[index].value : content[index];
	}else if(input === false){
		index--;
		if(index === -1) index = content.length - 1;
		actual = selection ? content[index].value : content[index];
	}else{
		if( isNaN(actual) ) actual = index;
		if(actual < content[0]) actual = content[0];
		if(actual > content.at(-1)) actual = content.at(-1);
		index = content.indexOf(actual);
		//actual = input; //shoul never happen when selection == true
	}
	fce(actual);
};



//TODO - it is fucking stupid to do it this way 
function enter(div){
	div.style.color = $setting.background;
	div.style.background = $setting.highlight;
}
function leave(div){
	div.style.color = $setting.highlight;
	div.style.background =  $setting.background;
}

</script>


<div id = "switcher">
	<button 
		on:click={()=>execute(false)} 
		on:mouseenter={e => enter(e.target)}
		on:mouseleave={e => leave(e.target)}
	>
		◄
	</button>


	{#if selection}
		<span
			on:click={()=>execute(true)} 
			on:mouseenter={e => enter(e.target)}
			on:mouseleave={e => leave(e.target)}
		>
			{content[index].text}
		</span>
	{:else}
		<input
			type = text 
			bind:value={actual}
			on:input = {() => execute()}
			on:keydown|stopPropagation
		>
	{/if}

	<button 
		on:click={()=>execute(true)} 
		on:mouseenter={e => enter(e.target)}
		on:mouseleave={e => leave(e.target)}
	>
		►
	</button>
</div>




<style>
#switcher{
	display: inline-block;
}

span{
	//width: 8ch;
	color: var(--highlight); 
	width: fit-content;
    display: inline-block;
    text-align: center;
	cursor: pointer
}

button{
	color: var(--highlight); 
    text-align: center;
	
	width: 3ch;
	border: none;
	background: none;
	
	padding: 0.5ch;
	margin: 0;
	cursor: pointer;
}

input{
	color: var(--background); 
	background: var(--highlight); 				
    width: 3ch;
    text-align: center;
    border: none;
    font-weight: bold;
	cursor: pointer;
}
</style>











