<script>
</script>


<div 	class = "title">
	<slot></slot>
</div>


<style>
.title{
	color: var(--highlight); 
	font-family: fancy;
	padding: 1ch 0;
	font-weight: bold;
	font-size: 150%;
}

</style>