<script>
import cat from 'Questions';
import tags from 'Data/tags.json';
import {active} from './active';
import {category_weight} from 'System/lists/category_weight';

$: cathy = cat[$active.category];



function open(level){
	if(level === -1){
		active.display("all");
	}else{
		active.teleport(undefined, level);
		active.display("all_in_cat");
	}
}

function open_tag(tag){
	if( !tags[tag] ) return;
	active.tag(tag);
	active.display("tag");
}
</script>

<h2> 
{cathy.name}
</h2>

<table>
	<tr>
		<td>Index: </td>
		<td>{$active.category}</td>
	</tr>
	<tr>
		<td>ID: </td>
		<td>{cathy.id}</td>
	</tr>
<!--
	{#if cathy.shared}
		<tr>
			<td>Shared text: </td>
			<td>{cathy.shared}</td>
		</tr>
	{/if}
-->
	<tr>
		<td>Tags: </td>
		<td>
			{#each cathy.tags as tag}	
			<span on:click={()=>open_tag(tag)}>{tag}; </span>
			{/each}
		</td>
	</tr>
	<tr>
		<td>Weight: </td>
		<td>
			{@html category_weight($active.category).report}
		</td>
	</tr>

	<tr>
		<td>Questions: </td>
		<td>
		       <span on:click={()=>open(0)}>{cathy[0].length}</span> 
			+ <span on:click={()=>open(1)}>{cathy[1].length}</span> 
			+ <span on:click={()=>open(2)}>{cathy[2].length}</span> 
			= <span on:click={()=>open(-1)}>{cathy[0].length + cathy[1].length + cathy[2].length}</span>
		</td>
	</tr>

	
</table>






<style>
	span {
		/*padding: 0.5ch 1ch;*/
		color: var(--highlight); 
		cursor: pointer;
	}
	
	span:hover {
		color: var(--background); 
		background: var(--highlight); 
	}

	td {
		padding: 0.5ch 1ch;
		vertical-align: baseline;

	}
	
	table {
		margin: 2ch 0ch;
	}
</style>