<script>
import cat from 'Questions';
import Map from "../Map.svelte";
import {answers} from 'System/lists/questions';
export let category = undefined;
export let question = undefined;
export let level = undefined;

const que = cat[category][level][question];
const pro = answers(category, level, question);

</script>

<div class = "block">

	<div class = "title">
		<h4> 
			{category} / {level} / {question}
		</h4>
	</div>

	<div class = "que">
		<span>{que.que}</span>

		{#each que.ans as answer, i}
			{#if i === 0} 
				<span class = "thick"> {answer} </span>
			{:else}
				<span> {answer} </span>
			{/if}
		{/each}
		<br>
		{#if que.img}
			<code> {que.img} </code>
		{/if}
		{#if que.hd}
			<code> {que.hd} </code>
		{/if}
		{#if que.map}
			<code> {que.map} </code>
		{/if}
		{#if que.marks?.length}
			<code> {@html que.marks.join("<br>")} </code>
		{/if}
	</div>

	<div class = "pro">
		<span>{@html pro.text}</span>
		{#each pro.choices as answer, i}
			{#if i === pro.correct_choice} 
				<span class = "thick"> {@html answer} </span>
			{:else}
				<span> {@html answer} </span>
			{/if}
		{/each}
		
		<br>
	
		{#if pro.img}
			<code> {pro.img} </code>
		{/if}

		{#if pro.hd}
			<code> {pro.hd} </code>
		{/if}

		{#if pro.map}
		{/if}
	</div>

	<div class = "multi">

		{#if pro.img}
			<img
				class = "image"
				src = {pro.img}
			/>
		{/if}

		{#if pro.hd}
			<img
				class = "image"
				src = {pro.hd}
			/>
		{/if}

		{#if pro.map}
			<Map src = {pro.map}/>	
		{/if}

	</div>

</div>

<hr>

<!--
<tr>
	<h4> 
		{category} / {level} / {question}
	</h4>
</tr>

<tr>
	<td>
		{que.que}
	</td>
	<td>
		{pro.text}
	</td>
</tr>
<tr>
	<td>
		<ul>
			{#each que.ans as answer, i}
				<li>{answer}
			{/each}
		</ul>
	</td>
	<td>
		<ol>
			{#each pro.choices as answer, i}
				<li>{answer}
			{/each}
		</ol>
	</td>
</tr>

<tr>
	<td>
		{que.img}
	</td>
	<td>
		{pro.img}
		<img
			class = "image"
			src = {pro.img}
		/>
	</td>
</tr>

-->

<style>
.block {
	display: grid;
	grid-gap: 3ch;
	
	grid-template-areas: 
    "title title"
	"pro que"
    "multi multi";
}

.title {
	grid-area: title;
}

.pro {
	
	grid-area: pro;
	width: 40ch;
}

.que {
	grid-area: que;
	width: 40ch;
}

.multi {
	grid-area: multi;
}


span {
	padding: 0.25ch 0ch;	
	display: block;
}
code {
	width: 100%;
    display: block;
    overflow-wrap: anywhere;
}
.thick {
	font-weight: bold;
}
h4 {
	font-size: 100%;
	font-weight: bold;
	color: var(--highlight); 
}

</style>