<script>
import cat from 'Questions';
import tags from 'Data/tags.json';
import {active} from './active';
import {category_weight} from 'System/lists/category_weight';

let list = cat.map( (cathy, index) => {
	return {
		index,
		id: cathy.id,
		name: cathy.name,
		easy: cathy[0].length,
		medium: cathy[1].length,
		hard: cathy[2].length,
		sum: cathy[0].length + cathy[1].length + cathy[2].length,
		tags: cathy.tags,
		weight: category_weight(index).weight,
	};
})


const sum = {
	easy: cat.reduce( (sum, cathy) => sum + cathy[0].length, 0 ),
	medium: cat.reduce( (sum, cathy) => sum + cathy[0].length, 0 ),
	hard: cat.reduce( (sum, cathy) => sum + cathy[0].length, 0 ),
}
sum.all = sum.easy + sum.medium + sum.hard;


function open(category, level){
	if(level === undefined){
		active.teleport(category, 0, 0);
		active.display("details");
	}else if(level === -1){
		active.teleport(category, 0, 0);
		active.display("all");
	}else{
		active.teleport(category, level, 0);
		active.display("all_in_cat");
	}
}

function open_tag(tag){
	if( !tags[tag] ) return;
	active.tag(tag);
	active.display("tag");
}

//https://svelte.dev/repl/08aca4e5d75e4ba7b8b05680f3d3bf7a?version=3.23.1
const sort_by = {col: "index", ascending: true};
	
$: sort = (column) => {  
	if(typeof column !== "string") return;

	if (sort_by.col == column) {
		sort_by.ascending = !sort_by.ascending
	} else {
		sort_by.col = column
		sort_by.ascending = true
	}
	
	// Modifier to sorting function for ascending or descending
	const direction = (sort_by.ascending) ? 1 : -1;
	
	const sort = (a, b) => 
		(a[column] < b[column]) 
		? -1 * direction 
		: (a[column] > b[column]) 
		? 1 * direction 
		: 0;
	
	list = list.sort(sort);
}


</script>


<table>
	<thead>
		<tr>
			<th on:click={sort("index")}>index</th>
			<th on:click={sort("id")}>id</th>
			<th on:click={sort("name")}>name</th>
			<th on:click={sort("sum")}>Σ</th>
			<th on:click={sort("easy")}>easy</th>
			<th on:click={sort("medium")}>medium</th>
			<th on:click={sort("hard")}>hard</th>
			<th on:click={sort("tags")}>tags</th>
			<th on:click={sort("weight")}>weight</th>
		</tr>
	</thead>
	<tbody>
		{#each list as row}
			<tr>
				<td on:click={open(row.index)}>{row.index}</td>
				<td on:click={open(row.index)}>{row.id}</td>
				<td on:click={open(row.index)}>{row.name}</td>
				<td on:click={open(row.index, -1)}>{row.sum}</td>
				<td on:click={open(row.index, 0)}>{row.easy}</td>
				<td on:click={open(row.index, 1)}>{row.medium}</td>
				<td on:click={open(row.index, 2)}>{row.hard}</td>
				<td class = "disabled">
					{#each row.tags as tag}
						<span on:click={open_tag(tag)}>{tag};&nbsp </span>
					{/each}
				</td>
				<td on:click={open(row.index)}>{row.weight}</td>
			</tr>
		{/each}
		<tr>
			<td>{cat.length}</td>
			<td></td>
			<td></td>
			<td>{sum.all}</td>
			<td>{sum.easy}</td>
			<td>{sum.medium}</td>
			<td>{sum.hard}</td>
			<td></td>
		</tr>
	</tbody>
</table>




<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		width: auto;
		padding: 0.25ch 0.5ch;
		cursor: pointer;
		color: var(--highlight); 
	}
	table {
		text-align: center;
		margin: 3ch 0ch;
	}
	th{
		padding: 1ch 2ch;
		color: var(--background); 
		background: var(--highlight); 
	}
	
	td:hover{
		color: var(--background); 
		background: var(--highlight); 
	}

	th:hover{
		background: var(--background_2); 
		color: var(--highlight); 
	}

	.disabled{
		color: var(--highlight); 
		background: var(--background); 
	}
	.disabled:hover{
		color: var(--highlight); 
		background: var(--background); 
	}
	
	span:hover{
		color: var(--background); 
		background: var(--highlight); 
	}
</style>