<script>
import cat from 'Questions';
import tags from 'Data/tags.json';
import {active} from './active';
import {tag_weight} from 'System/lists/tag_weight';
import {cap} from 'Libraries/dh/index';


$: id = $active.tag;
$: tagy = tags[id];


$: indices = cat.map( (cathy, index) => cathy.tags.includes(id) ? index : undefined	).filter( a => a !== undefined);
$: cats = indices.length;
$: sum = indices.reduce( (sum, index) => sum + cat[index][0].length + cat[index][1].length +  cat[index][2].length, 0);



function open(category){
	active.teleport(category, 0, 0);
	active.display("details");
}


</script>

<h2> 
{cap(tagy.name || id)}
</h2>

<table>
	<tr>
		<td>ID: </td>
		<td>{id}</td>
	</tr>
	{#if tagy.desc}
		<tr>
			<td>Description: </td>
			<td>{tagy.desc}</td>
		</tr>
	{/if}
	<tr>
		<td>Weight: </td>
		<td>
				{@html tag_weight($active.tag).report}
		</td>
	</tr>
	<tr>
		<td>Questions: </td>
		<td>
			{sum}
		</td>
	</tr>
	<tr>
		<td>Categories: </td>
		<td>
			{cats}
		</td>
	</tr>

	<tr>
		<td>List: </td>
		<td>
			{#each indices as index}	
				<span on:click={()=>open(index)}>{cat[index].id}; </span>
			{/each}
		</td>
	</tr>


	

	
</table>






<style>
	span {
		/*padding: 0ch 1ch;*/
		color: var(--highlight); 
		cursor: pointer;
	}
	
	span:hover {
		color: var(--background); 
		background: var(--highlight); 
	}

	td {
		padding: 0.5ch 1ch;
		/*vertical-align: baseline;*/
		max-width: 70ch;
	}
	
	table {
		margin: 2ch 0ch;
	}
</style>