<script>
import {head} from 'System/initiate';
import {active} from './active';

import Button from "Comp/Button.svelte";
import Table from "./Table.svelte";
import Tags from "./Tags.svelte";
import Tag from "./Tag.svelte";
import Details from "./Details.svelte";
import All from "./All.svelte";

active.display("table");


</script>

{#if $active.display === "table"}
	<Table/>
{:else if $active.display === "tags"}
	<Tags/>
{:else if $active.display === "all_in_cat" || $active.display === "all"}
	<All/> 
{:else if $active.display === "details"}
	<Details/>
{:else if $active.display === "tag"}
	<Tag/>
{/if}
	




{#if $active.display === "table"}
	<Button 
		key = 1
		style = "big"
		fce = {()=>{
			head.display("menu");
		}}
	>
		Exit
	</Button>
	<Button 
		key = 2
		style = "big"
		fce = {()=>{
			active.display("tags");
		}}
	>
		Tags
	</Button>

{:else if $active.display === "tags"}
	<Button 
		key = 1
		style = "big"
		fce = {()=>{
			head.display("menu");
		}}
	>
		Exit
	</Button>
	<Button 
		key = 2
		style = "big"
		fce = {()=>{
			active.display("table");
		}}
	>
		Categories
	</Button>

{:else if $active.display === "tag"}
	<Button 
		key = 1
		style = "big"
		fce = {()=>{
			active.display("tags");
		}}
	>
		Back
	</Button>

{:else}
	<Button 
		key = 1
		style = "big"
		fce = {()=>{
			active.display("table");
		}}
	>
		Back
	</Button>
{/if}



{#if $active.display === "details"}
	<Button 
		key = 2
		style = "big"
		fce = {()=>{
			active.move(1);
		}}
	>
		Previous
	</Button>
	<Button 
		key = 3
		style = "big"
		fce = {()=>{
			active.move(-1);
		}}
	>
		Next
	</Button>
{/if}



<style>

</style>