/* nicer font for titles and menu links */
@font-face{
  font-family:  fancy;
  src: url(/assets/fonts/EmilysCandy-Regular.ttf);
}

/* readable font for regualr text */
@font-face{
  font-family:  regular;
  src: url(/assets/fonts/LibreBaskerville-Regular.ttf);
}