
h1{
	color: var(--highlight); 
	font-family: fancy;
/*	padding: 1ch 0; */
	font-weight: bold;
	text-align: center;
    font-size: 240%;
}


h2{
	color: var(--highlight); 
	font-family: fancy;
/*	padding: 1ch 0;*/
	font-weight: bold;
	font-size: 150%;
}


h3{
	color: var(--highlight); 
/*	padding: 1ch 0;*/
	font-weight: bold;
	font-size: 150%;
}